.btn-google {
    color: #fff !important;
    background-color: #ea4335 !important;
    border-color: #fff !important;
}
.btn-facebook {
    color: #fff !important;
    background-color: #3b5998 !important;
    border-color: #fff !important;
}